/.idea/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints

/nets/2lane_unprotected_right/output/*
/nets/2lane_unprotected_right/*.xml
/tensorboard/
/screenshots/
/env/training_data

distribution_shift
