/.idea/
__pycache__/
*.py[cod]
*$py.class
.DS_Store

/nets/simple_unprotected_right/output/*
/nets/simple_unprotected_right/*.xml
/nets/2lane_unprotected_right/output/*
/nets/2lane_unprotected_right/*.xml
/env/training_data/*
/env/training_data_2lane/*
/dqn_sumo_tensorboard/
/tensorboard/
/screenshots/
/data/
/data_agent/
/traces/
data.zip
data_agent.zip

